<div class="dashboard-content-one">
  <!-- Breadcubs Area Start Here -->
  <div class="breadcrumbs-area">
    <h3><%= @user.role.name%> Dashboard</h3>
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>Student</li>
    </ul>
  </div>
  <!-- Breadcubs Area End Here -->
  <div class="row">
    <!-- Student Info Area Start Here -->
    <div class="col-4-xxxl col-12">
      <div class="card dashboard-card-ten">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h3>About Me</h3>
            </div>
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
              </div>
            </div>
          </div>
          <div class="student-info">
            <div class="media media-none--xs">
              <div class="item-img">
                <img src="/img/figure/student.png" class="media-img-auto" alt="student">
              </div>
              <div class="media-body">
                <h3 class="item-title">Jessia Rose</h3>
                <p>Aliquam erat volutpat. Curabiene natis massa
                  sedde lacustiquen sodale word moun taiery.</p>
              </div>
            </div>
            <div class="table-responsive info-table">
              <table class="table text-nowrap">
                <tbody>
                  <tr>
                    <td>Name:</td>
                    <td class="font-medium text-dark-medium">Jessia Rose</td>
                  </tr>
                  <tr>
                    <td>Gender:</td>
                    <td class="font-medium text-dark-medium">Female</td>
                  </tr>
                  <tr>
                    <td>Father Name:</td>
                    <td class="font-medium text-dark-medium">Fahim Rahman</td>
                  </tr>
                  <tr>
                    <td>Mother Name:</td>
                    <td class="font-medium text-dark-medium">Jannatul Kazi</td>
                  </tr>
                  <tr>
                    <td>Date Of Birth:</td>
                    <td class="font-medium text-dark-medium">07.08.2006</td>
                  </tr>
                  <tr>
                    <td>Religion:</td>
                    <td class="font-medium text-dark-medium">Islam</td>
                  </tr>
                  <tr>
                    <td>Father Occupation:</td>
                    <td class="font-medium text-dark-medium">Graphic Designer</td>
                  </tr>
                  <tr>
                    <td>E-Mail:</td>
                    <td class="font-medium text-dark-medium">jessiarose@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Admission Date:</td>
                    <td class="font-medium text-dark-medium">05.01.2019</td>
                  </tr>
                  <tr>
                    <td>Class:</td>
                    <td class="font-medium text-dark-medium">2</td>
                  </tr>
                  <tr>
                    <td>Section:</td>
                    <td class="font-medium text-dark-medium">Pink</td>
                  </tr>
                  <tr>
                    <td>Roll:</td>
                    <td class="font-medium text-dark-medium">10005</td>
                  </tr>
                  <tr>
                    <td>Adress:</td>
                    <td class="font-medium text-dark-medium">House #10, Road #6,
                      Australia</td>
                  </tr>
                  <tr>
                    <td>Phone:</td>
                    <td class="font-medium text-dark-medium">+ 88 9856418</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Student Info Area End Here -->
    <div class="col-8-xxxl col-12">
      <div class="row">
        <!-- Summery Area Start Here -->
        <div class="col-lg-4">
          <div class="dashboard-summery-one">
            <div class="row">
              <div class="col-6">
                <div class="item-icon bg-light-magenta">
                  <i class="flaticon-shopping-list text-magenta"></i>
                </div>
              </div>
              <div class="col-6">
                <div class="item-content">
                  <div class="item-title">Notification</div>
                  <div class="item-number"><span class="counter" data-num="12">12</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="dashboard-summery-one">
            <div class="row">
              <div class="col-6">
                <div class="item-icon bg-light-blue">
                  <i class="flaticon-calendar text-blue"></i>
                </div>
              </div>
              <div class="col-6">
                <div class="item-content">
                  <div class="item-title">Events</div>
                  <div class="item-number"><span class="counter" data-num="06">6</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="dashboard-summery-one">
            <div class="row">
              <div class="col-6">
                <div class="item-icon bg-light-yellow">
                  <i class="flaticon-percentage-discount text-orange"></i>
                </div>
              </div>
              <div class="col-6">
                <div class="item-content">
                  <div class="item-title">Attendance</div>
                  <div class="item-number"><span class="counter" data-num="94">94</span><span>%</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Summery Area End Here -->
        <!-- Exam Result Area Start Here -->
        <div class="col-lg-12">
          <div class="card dashboard-card-eleven">
            <div class="card-body">
              <div class="heading-layout1">
                <div class="item-title">
                  <h3>All Exam Results</h3>
                </div>
                <div class="dropdown">
                  <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                  </div>
                </div>
              </div>
              <div class="table-box-wrap">
                <form class="search-form-box">
                  <div class="row gutters-8">
                    <div class="col-lg-4 col-12 form-group">
                      <input type="text" placeholder="Search by Exam ..." class="form-control">
                    </div>
                    <div class="col-lg-3 col-12 form-group">
                      <input type="text" placeholder="Search by Subject ..." class="form-control">
                    </div>
                    <div class="col-lg-3 col-12 form-group">
                      <input type="text" placeholder="dd/mm/yyyy" class="form-control">
                    </div>
                    <div class="col-lg-2 col-12 form-group">
                      <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                    </div>
                  </div>
                </form>
                <div class="table-responsive result-table-box">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table display data-table text-nowrap dataTable no-footer" id="DataTables_Table_0" role="grid">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc" rowspan="1" colspan="1" aria-label="
                                                                
                                                                    
                                                                    ID
                                                                
                                                            " style="width: 120px;">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input checkAll">
                              <label class="form-check-label">ID</label>
                            </div>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Exam Name: activate to sort column ascending" style="width: 130px;">Exam Name</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Subject: activate to sort column ascending" style="width: 97px;">Subject</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Grade: activate to sort column ascending" style="width: 67px;">Grade</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Percent: activate to sort column ascending" style="width: 113px;">Percent</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 108px;">Date</th>
                          <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 68px;"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr role="row" class="odd">
                          <td class="sorting_1">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label">#0021</label>
                            </div>
                          </td>
                          <td>Class Test</td>
                          <td>English</td>
                          <td>A</td>
                          <td>99.00 &gt; 100</td>
                          <td>22/02/2019</td>
                          <td>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="flaticon-more-button-of-three-dots"></span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label">#0022</label>
                            </div>
                          </td>
                          <td>Class Test</td>
                          <td>English</td>
                          <td>A</td>
                          <td>99.00 &gt; 100</td>
                          <td>22/02/2019</td>
                          <td>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="flaticon-more-button-of-three-dots"></span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="sorting_1">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label">#0023</label>
                            </div>
                          </td>
                          <td>Class Test</td>
                          <td>Chemistry</td>
                          <td>A</td>
                          <td>99.00 &gt; 100</td>
                          <td>22/02/2019</td>
                          <td>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="flaticon-more-button-of-three-dots"></span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label">#0024</label>
                            </div>
                          </td>
                          <td>Class Test</td>
                          <td>English</td>
                          <td>A</td>
                          <td>99.00 &gt; 100</td>
                          <td>22/02/2019</td>
                          <td>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="flaticon-more-button-of-three-dots"></span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="sorting_1">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label">#0025</label>
                            </div>
                          </td>
                          <td>Class Test</td>
                          <td>Chemistry</td>
                          <td>A</td>
                          <td>99.00 &gt; 100</td>
                          <td>22/02/2019</td>
                          <td>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="flaticon-more-button-of-three-dots"></span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label">#0025</label>
                            </div>
                          </td>
                          <td>Class Test</td>
                          <td>Chemistry</td>
                          <td>D</td>
                          <td>70.00 &gt; 100</td>
                          <td>22/02/2019</td>
                          <td>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="flaticon-more-button-of-three-dots"></span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="sorting_1">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label">#0025</label>
                            </div>
                          </td>
                          <td>Class Test</td>
                          <td>English</td>
                          <td>C</td>
                          <td>80.00 &gt; 100</td>
                          <td>22/02/2019</td>
                          <td>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="flaticon-more-button-of-three-dots"></span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label">#0025</label>
                            </div>
                          </td>
                          <td>Class Test</td>
                          <td>English</td>
                          <td>B</td>
                          <td>99.00 &gt; 100</td>
                          <td>22/02/2019</td>
                          <td>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="flaticon-more-button-of-three-dots"></span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="sorting_1">
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input">
                              <label class="form-check-label">#0025</label>
                            </div>
                          </td>
                          <td>First Semister</td>
                          <td>English</td>
                          <td>A</td>
                          <td>99.00 &gt; 100</td>
                          <td>22/02/2019</td>
                          <td>
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="flaticon-more-button-of-three-dots"></span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">Previous</a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">Next</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Exam Result Area End Here -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4-xxxl col-xl-6 col-12">
      <div class="card dashboard-card-three">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h3>Attendence</h3>
            </div>
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
              </div>
            </div>
          </div>
          <div class="doughnut-chart-wrap">
            <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <canvas id="student-doughnut-chart" width="413" height="270" class="chartjs-render-monitor" style="display: block; width: 413px; height: 270px;"></canvas>
          </div>
          <div class="student-report">
            <div class="student-count pseudo-bg-blue">
              <h4 class="item-title">Absent</h4>
              <div class="item-number">28.2%</div>
            </div>
            <div class="student-count pseudo-bg-yellow">
              <h4 class="item-title">Present</h4>
              <div class="item-number">65.8%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4-xxxl col-xl-6 col-12">
      <div class="card dashboard-card-thirteen">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h3>Event Calender</h3>
            </div>
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
              </div>
            </div>
          </div>
          <div class="calender-wrap">
            <div id="fc-calender" class="fc-calender fc fc-unthemed fc-ltr">
              <div class="fc-toolbar fc-header-toolbar">
                <div class="fc-left">
                  <h2>February 2021</h2>
                </div>
                <div class="fc-right">
                  <div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left" aria-label="prev"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right" aria-label="next"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div>
                </div>
                <div class="fc-center">
                  <div class="fc-button-group"><button type="button" class="fc-basicDay-button fc-button fc-state-default fc-corner-left">day</button><button type="button" class="fc-basicWeek-button fc-button fc-state-default">week</button><button type="button" class="fc-month-button fc-button fc-state-default fc-corner-right fc-state-active">month</button></div>
                </div>
                <div class="fc-clear"></div>
              </div>
              <div class="fc-view-container" style="">
                <div class="fc-view fc-month-view fc-basic-view" style="">
                  <table class="">
                    <thead class="fc-head">
                      <tr>
                        <td class="fc-head-container fc-widget-header">
                          <div class="fc-row fc-widget-header">
                            <table class="">
                              <thead>
                                <tr>
                                  <th class="fc-day-header fc-widget-header fc-sun"><span>Sun</span></th>
                                  <th class="fc-day-header fc-widget-header fc-mon"><span>Mon</span></th>
                                  <th class="fc-day-header fc-widget-header fc-tue"><span>Tue</span></th>
                                  <th class="fc-day-header fc-widget-header fc-wed"><span>Wed</span></th>
                                  <th class="fc-day-header fc-widget-header fc-thu"><span>Thu</span></th>
                                  <th class="fc-day-header fc-widget-header fc-fri"><span>Fri</span></th>
                                  <th class="fc-day-header fc-widget-header fc-sat"><span>Sat</span></th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody class="fc-body">
                      <tr>
                        <td class="fc-widget-content">
                          <div class="fc-scroller fc-day-grid-container" style="overflow: hidden; height: 180px;">
                            <div class="fc-day-grid fc-unselectable">
                              <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 36px;">
                                <div class="fc-bg">
                                  <table class="">
                                    <tbody>
                                      <tr>
                                        <td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2021-01-31"></td>
                                        <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2021-02-01"></td>
                                        <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2021-02-02"></td>
                                        <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2021-02-03"></td>
                                        <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2021-02-04"></td>
                                        <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2021-02-05"></td>
                                        <td class="fc-day fc-widget-content fc-sat fc-today " data-date="2021-02-06"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="fc-content-skeleton">
                                  <table>
                                    <thead>
                                      <tr>
                                        <td class="fc-day-top fc-sun fc-other-month fc-past" data-date="2021-01-31"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-01-31&quot;,&quot;type&quot;:&quot;day&quot;}">31</a></td>
                                        <td class="fc-day-top fc-mon fc-past" data-date="2021-02-01"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-01&quot;,&quot;type&quot;:&quot;day&quot;}">1</a></td>
                                        <td class="fc-day-top fc-tue fc-past" data-date="2021-02-02"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-02&quot;,&quot;type&quot;:&quot;day&quot;}">2</a></td>
                                        <td class="fc-day-top fc-wed fc-past" data-date="2021-02-03"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-03&quot;,&quot;type&quot;:&quot;day&quot;}">3</a></td>
                                        <td class="fc-day-top fc-thu fc-past" data-date="2021-02-04"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-04&quot;,&quot;type&quot;:&quot;day&quot;}">4</a></td>
                                        <td class="fc-day-top fc-fri fc-past" data-date="2021-02-05"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-05&quot;,&quot;type&quot;:&quot;day&quot;}">5</a></td>
                                        <td class="fc-day-top fc-sat fc-today " data-date="2021-02-06"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-06&quot;,&quot;type&quot;:&quot;day&quot;}">6</a></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 36px;">
                                <div class="fc-bg">
                                  <table class="">
                                    <tbody>
                                      <tr>
                                        <td class="fc-day fc-widget-content fc-sun fc-future" data-date="2021-02-07"></td>
                                        <td class="fc-day fc-widget-content fc-mon fc-future" data-date="2021-02-08"></td>
                                        <td class="fc-day fc-widget-content fc-tue fc-future" data-date="2021-02-09"></td>
                                        <td class="fc-day fc-widget-content fc-wed fc-future" data-date="2021-02-10"></td>
                                        <td class="fc-day fc-widget-content fc-thu fc-future" data-date="2021-02-11"></td>
                                        <td class="fc-day fc-widget-content fc-fri fc-future" data-date="2021-02-12"></td>
                                        <td class="fc-day fc-widget-content fc-sat fc-future" data-date="2021-02-13"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="fc-content-skeleton">
                                  <table>
                                    <thead>
                                      <tr>
                                        <td class="fc-day-top fc-sun fc-future" data-date="2021-02-07"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-07&quot;,&quot;type&quot;:&quot;day&quot;}">7</a></td>
                                        <td class="fc-day-top fc-mon fc-future" data-date="2021-02-08"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-08&quot;,&quot;type&quot;:&quot;day&quot;}">8</a></td>
                                        <td class="fc-day-top fc-tue fc-future" data-date="2021-02-09"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-09&quot;,&quot;type&quot;:&quot;day&quot;}">9</a></td>
                                        <td class="fc-day-top fc-wed fc-future" data-date="2021-02-10"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-10&quot;,&quot;type&quot;:&quot;day&quot;}">10</a></td>
                                        <td class="fc-day-top fc-thu fc-future" data-date="2021-02-11"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-11&quot;,&quot;type&quot;:&quot;day&quot;}">11</a></td>
                                        <td class="fc-day-top fc-fri fc-future" data-date="2021-02-12"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-12&quot;,&quot;type&quot;:&quot;day&quot;}">12</a></td>
                                        <td class="fc-day-top fc-sat fc-future" data-date="2021-02-13"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-13&quot;,&quot;type&quot;:&quot;day&quot;}">13</a></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 36px;">
                                <div class="fc-bg">
                                  <table class="">
                                    <tbody>
                                      <tr>
                                        <td class="fc-day fc-widget-content fc-sun fc-future" data-date="2021-02-14"></td>
                                        <td class="fc-day fc-widget-content fc-mon fc-future" data-date="2021-02-15"></td>
                                        <td class="fc-day fc-widget-content fc-tue fc-future" data-date="2021-02-16"></td>
                                        <td class="fc-day fc-widget-content fc-wed fc-future" data-date="2021-02-17"></td>
                                        <td class="fc-day fc-widget-content fc-thu fc-future" data-date="2021-02-18"></td>
                                        <td class="fc-day fc-widget-content fc-fri fc-future" data-date="2021-02-19"></td>
                                        <td class="fc-day fc-widget-content fc-sat fc-future" data-date="2021-02-20"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="fc-content-skeleton">
                                  <table>
                                    <thead>
                                      <tr>
                                        <td class="fc-day-top fc-sun fc-future" data-date="2021-02-14"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-14&quot;,&quot;type&quot;:&quot;day&quot;}">14</a></td>
                                        <td class="fc-day-top fc-mon fc-future" data-date="2021-02-15"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-15&quot;,&quot;type&quot;:&quot;day&quot;}">15</a></td>
                                        <td class="fc-day-top fc-tue fc-future" data-date="2021-02-16"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-16&quot;,&quot;type&quot;:&quot;day&quot;}">16</a></td>
                                        <td class="fc-day-top fc-wed fc-future" data-date="2021-02-17"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-17&quot;,&quot;type&quot;:&quot;day&quot;}">17</a></td>
                                        <td class="fc-day-top fc-thu fc-future" data-date="2021-02-18"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-18&quot;,&quot;type&quot;:&quot;day&quot;}">18</a></td>
                                        <td class="fc-day-top fc-fri fc-future" data-date="2021-02-19"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-19&quot;,&quot;type&quot;:&quot;day&quot;}">19</a></td>
                                        <td class="fc-day-top fc-sat fc-future" data-date="2021-02-20"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-20&quot;,&quot;type&quot;:&quot;day&quot;}">20</a></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 36px;">
                                <div class="fc-bg">
                                  <table class="">
                                    <tbody>
                                      <tr>
                                        <td class="fc-day fc-widget-content fc-sun fc-future" data-date="2021-02-21"></td>
                                        <td class="fc-day fc-widget-content fc-mon fc-future" data-date="2021-02-22"></td>
                                        <td class="fc-day fc-widget-content fc-tue fc-future" data-date="2021-02-23"></td>
                                        <td class="fc-day fc-widget-content fc-wed fc-future" data-date="2021-02-24"></td>
                                        <td class="fc-day fc-widget-content fc-thu fc-future" data-date="2021-02-25"></td>
                                        <td class="fc-day fc-widget-content fc-fri fc-future" data-date="2021-02-26"></td>
                                        <td class="fc-day fc-widget-content fc-sat fc-future" data-date="2021-02-27"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="fc-content-skeleton">
                                  <table>
                                    <thead>
                                      <tr>
                                        <td class="fc-day-top fc-sun fc-future" data-date="2021-02-21"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-21&quot;,&quot;type&quot;:&quot;day&quot;}">21</a></td>
                                        <td class="fc-day-top fc-mon fc-future" data-date="2021-02-22"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-22&quot;,&quot;type&quot;:&quot;day&quot;}">22</a></td>
                                        <td class="fc-day-top fc-tue fc-future" data-date="2021-02-23"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-23&quot;,&quot;type&quot;:&quot;day&quot;}">23</a></td>
                                        <td class="fc-day-top fc-wed fc-future" data-date="2021-02-24"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-24&quot;,&quot;type&quot;:&quot;day&quot;}">24</a></td>
                                        <td class="fc-day-top fc-thu fc-future" data-date="2021-02-25"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-25&quot;,&quot;type&quot;:&quot;day&quot;}">25</a></td>
                                        <td class="fc-day-top fc-fri fc-future" data-date="2021-02-26"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-26&quot;,&quot;type&quot;:&quot;day&quot;}">26</a></td>
                                        <td class="fc-day-top fc-sat fc-future" data-date="2021-02-27"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-27&quot;,&quot;type&quot;:&quot;day&quot;}">27</a></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 36px;">
                                <div class="fc-bg">
                                  <table class="">
                                    <tbody>
                                      <tr>
                                        <td class="fc-day fc-widget-content fc-sun fc-future" data-date="2021-02-28"></td>
                                        <td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2021-03-01"></td>
                                        <td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2021-03-02"></td>
                                        <td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2021-03-03"></td>
                                        <td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2021-03-04"></td>
                                        <td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2021-03-05"></td>
                                        <td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2021-03-06"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="fc-content-skeleton">
                                  <table>
                                    <thead>
                                      <tr>
                                        <td class="fc-day-top fc-sun fc-future" data-date="2021-02-28"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-02-28&quot;,&quot;type&quot;:&quot;day&quot;}">28</a></td>
                                        <td class="fc-day-top fc-mon fc-other-month fc-future" data-date="2021-03-01"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-03-01&quot;,&quot;type&quot;:&quot;day&quot;}">1</a></td>
                                        <td class="fc-day-top fc-tue fc-other-month fc-future" data-date="2021-03-02"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-03-02&quot;,&quot;type&quot;:&quot;day&quot;}">2</a></td>
                                        <td class="fc-day-top fc-wed fc-other-month fc-future" data-date="2021-03-03"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-03-03&quot;,&quot;type&quot;:&quot;day&quot;}">3</a></td>
                                        <td class="fc-day-top fc-thu fc-other-month fc-future" data-date="2021-03-04"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-03-04&quot;,&quot;type&quot;:&quot;day&quot;}">4</a></td>
                                        <td class="fc-day-top fc-fri fc-other-month fc-future" data-date="2021-03-05"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-03-05&quot;,&quot;type&quot;:&quot;day&quot;}">5</a></td>
                                        <td class="fc-day-top fc-sat fc-other-month fc-future" data-date="2021-03-06"><a class="fc-day-number" data-goto="{&quot;date&quot;:&quot;2021-03-06&quot;,&quot;type&quot;:&quot;day&quot;}">6</a></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4-xxxl col-12">
      <div class="card dashboard-card-six">
        <div class="card-body">
          <div class="heading-layout1 mg-b-17">
            <div class="item-title">
              <h3>Notifications</h3>
            </div>
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
              </div>
            </div>
          </div>
          <div class="notice-box-wrap">
            <div class="notice-list">
              <div class="post-date bg-skyblue">16 June, 2019</div>
              <h6 class="notice-title"><a href="#">Great School manag mene esom tus eleifend
                  lectus
                  sed maximus mi faucibusnting.</a></h6>
              <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
            </div>
            <div class="notice-list">
              <div class="post-date bg-yellow">16 June, 2019</div>
              <h6 class="notice-title"><a href="#">Great School manag printing.</a></h6>
              <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
            </div>
            <div class="notice-list">
              <div class="post-date bg-pink">16 June, 2019</div>
              <h6 class="notice-title"><a href="#">Great School manag Nulla rhoncus eleifensed
                  mim
                  us mi faucibus id. Mauris vestibulum non purus lobortismenearea</a></h6>
              <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
            </div>
            <div class="notice-list">
              <div class="post-date bg-skyblue">16 June, 2019</div>
              <h6 class="notice-title"><a href="#">Great School manag mene esom text of the
                  printing.</a></h6>
              <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
            </div>
            <div class="notice-list">
              <div class="post-date bg-yellow">16 June, 2019</div>
              <h6 class="notice-title"><a href="#">Great School manag printing.</a></h6>
              <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
            </div>
            <div class="notice-list">
              <div class="post-date bg-pink">16 June, 2019</div>
              <h6 class="notice-title"><a href="#">Great School manag meneesom.</a></h6>
              <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Area Start Here -->
  <!-- Footer Area End Here -->
</div>
